<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlowShared.Properties.Settings.FlowConnectionString"
             connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Flow;Data Source=PORTHLEVEN\PORTHLEVEN"
             providerName="System.Data.SqlClient" />
        
    </connectionStrings>
</configuration>